<div id="error">
  <h2 class="title">An error occurred</h2>

  <div class="code-box"><code>{{message}}</code></div>

  <div class="link-container">
    <a class="link" data-testid="back-button" href="login">Go back to login</a>
  </div>
</div>
