<div id="verification">
  <h2 class="title">Verify your account</h2>

  {{> messages messages=messages className="global"}}
  {{> ui ui=ui}}

  <div class="link-container">
    <a class="link" data-testid="forgot-password" href="login">Go back to login</a>
  </div>
</div>
